.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.news-container__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.news-container__text-element {
  width: 100%;
}

.odd {
  display: flex;
  flex-direction: row;
}

.rah-static {
  width: 100%;
  padding: 0 0.5vw;
}

@media (max-width: 768px) {
  .news-container__content {
    width: 75%;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  .news-container__content {
    width: 55%;
  }
}
